
# Created by https://www.toptal.com/developers/gitignore/api/assembler
# Edit at https://www.toptal.com/developers/gitignore?templates=assembler

### Assembler ###
*.exe
*.o
*.obj
*.bc

#IDE
*.atsln
*.asmproj
*.componentinfo.xml
/Debug
/.vs/EE363avr/v14

# End of https://www.toptal.com/developers/gitignore/api/assembler